body {
    font-family: arial,sans-serif;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

div.content {
    padding: 1em 2em 1em 2em;
}

div.post img {
    float: right;
    padding: 1em 1em 1em 1em;
}

div.posts ul {
    list-style-type: none;
    display: inline;
}

div.intro {
    border-bottom: thin solid lightgrey;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

div.highlight {
    padding: .25em .25em .25em .25em;
    border-style: solid;
    border-width: thin;
    border-color: lightgrey;
}

div.header {
    padding: .25em .25em .25em .50em;
    text-align: center;
    background: #f1f1f1;
    font-size: 20px;
    color: #545454;
}

div[itemprop="author"] {
  padding: .25em .25em .25em .25em;
  text-align: center;
  background: #f1f1f1;
  color: #545454;
}

div[itemprop="blogPost"] {
    border-bottom: thin solid lightgrey;
}

div[itemprop="blogPost"] p {
    color: #545454;
}

ol.posts {
  list-style-type: none;
}

ul.tags li {
    list-style-type: none;
    display: inline;
}

h2 {
    font-size: large;
}