---
layout: default
---
<div itemscope itemtype="http://schema.org/BlogPosting" class="post">
	<div class="intro">
		<h1 itemprop="headline"><a href=#>{{ page.title }}</a></h1>
		<p itemprop="description">{{ page.description }}</p>
		<time itemprop="datePublished" datetime="{{ page.date | date: "%Y-%m-%d"}}">{{ page.date | date: "%B %d, '%y" }}</time>
	</div>
	{% if page.image %}
	<img itemprop="thumbnailUrl" src="/images/{{page.image}}" alt="image"/>
	{% endif %}
	<div itemprop="articleBody">
		{{ content }}
		<meta itemprop="keywords" content="{{ page.tags | join ' ' }}">
		<ul class="tags">
		Tags: 
		{% for tag in page.tags %}
		<li>{{ tag }}</li>
		{% endfor %}
		</ul>
		Word count: <span itemprop="wordCount">{{ content | number_of_words }}</span>
	</div>
	{% if page.comments %}
	<div class="comments">
		<div id="disqus_thread"></div>
		<script type="text/javascript">
/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'itscaleb'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
		 var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		 dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		 (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		 })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
	</div>
	{% endif %}
</div>
